[submodule "APIs/proto/includes/googleapis"]
	path = APIs/proto/includes/googleapis
	url = git@github.com:googleapis/googleapis.git
[submodule "APIs/proto/includes/gateway"]
	path = APIs/proto/includes/gateway
	url = git@github.com:grpc-ecosystem/grpc-gateway.git
[submodule "APIs/proto/includes/validator"]
	path = APIs/proto/includes/validator
	url = git@github.com:bufbuild/protoc-gen-validate.git
